/* This is a style sheet */ 

#header {
	text-align: center;
	font-family: Calibri;
	font-size: 26px;
	font-weight: bold;
	background-color: blue;
}
#address {
	text-align: center; 
	font-family: Calibri; 
	font-size: 12px;
}
#personal-info {
	text-align: center; 
	font-family: Calibri; 
	font-size: 12px;
}
h1 {
	font-family: Calibri
	font-size: 16px;
	text-align: left;
	text-decoration-line: underline; 
}
h2 {
	font-family: Calibri;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
}
h3 {
	font-family: Calibri;
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
	text-align: left; 
	text-indent: 50px; 
}
p {
	font-family: Calibri;
	font-weight: bold; 
	text-align: left;
}
ul {
	list-style-type: none;
    text-indent: 50px ;
    padding: 0;
}